body {
  max-width: 40em;
  margin: 0 auto;
  color:indigo;
  background-color: #00b3b3;
 }

h1 {
  font-weight: bold;git 
  text-align: center;
  font-family: sans-serif;
  transition-delay: 500mss;
transition-property: margin-right, color;
}
H1 {
  text-align: center;
}i
h1 {border-style: outset;}