body {
  max-width: 40em;
  color:indigo;
  background-color: #00b3b3;
 }

h1 {
  font-weight: bold;git 
  text-align: center;
  font-family: comic;
  font-style: oblique;
  border-style: outset;
}

}
H1 {
  text-align: center;
  font-family: unset;
}
.blinking{
  animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: transparent; }
  50%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}s


















































































































































































