body {
  max-width: 40em;
  margin: 0 auto;
  color:indigo;
  background-color: #00b3b3;
 }

h1 {
  font-weight: bold;git 
  text-align: center;
  font-family: comic;
  font-style: oblique;
  border-style: outset;
}

}
H1 {
  text-align: center;
  font-family: unset;
}